In [11]:
import spacy 
import pandas as pd

In [12]:
nlp=spacy.load("en_core_web_sm")

In [13]:
random_para="He ordered his regular breakfast. Two eggs sunnyside up, hash browns, and two strips of bacon. He continued to look at the menu wondering if this would be the day he added something new. This was also part of the routine. A few seconds of hesitation to see if something else would be added to the order before demuring and saying that would be all. It was the same exact meal that he had ordered every day for the past two years."
print(random_para)

He ordered his regular breakfast. Two eggs sunnyside up, hash browns, and two strips of bacon. He continued to look at the menu wondering if this would be the day he added something new. This was also part of the routine. A few seconds of hesitation to see if something else would be added to the order before demuring and saying that would be all. It was the same exact meal that he had ordered every day for the past two years.

In [14]:
spacy_doc=nlp(random_para)

In [15]:
pos_df=pd.DataFrame(columns=['token','pos_tag'])

In [16]:
for token in spacy_doc:
    pos_df=pd.concat([pos_df,pd.DataFrame.from_records([{'token':token.text,'pos_tag':token.pos_}])], ignore_index=True)

In [ ]:
pos_df.head(10)

       token pos_tag
0         He    PRON
1    ordered    VERB
2        his    PRON
3    regular     ADJ
4  breakfast    NOUN
5          .   PUNCT
6        Two     NUM
7       eggs    NOUN
8  sunnyside     ADV
9         up     ADV

In [ ]:
pos_df_counts = pos_df.groupby(['token', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [21]:
pos_df_counts.head(10)

        token pos_tag  counts
1           .   PUNCT       6
51        the     DET       6
13         be     AUX       3
36         of     ADP       3
59      would     AUX       3
18        day    NOUN       2
28         he    PRON       2
7       added    VERB       2
47  something    PRON       2
31         if   SCONJ       2

In [22]:
pos_df_poscounts=pos_df_counts.groupby(['pos_tag'])['token'].count().sort_values(ascending=False)

In [24]:
pos_df_poscounts.head(10)

pos_tag
NOUN     15
PRON      9
VERB      8
ADJ       6
ADP       5
ADV       4
AUX       4
DET       3
PUNCT     2
NUM       2
Name: token, dtype: int64

In [26]:
nouns=pos_df_counts[pos_df_counts.pos_tag=='NOUN'][:10]
nouns

         token pos_tag  counts
18         day    NOUN       2
16      browns    NOUN       1
15   breakfast    NOUN       1
12       bacon    NOUN       1
27        hash    NOUN       1
20        eggs    NOUN       1
33        meal    NOUN       1
34        menu    NOUN       1
29  hesitation    NOUN       1
42     routine    NOUN       1

In [27]:
adj=pos_df_counts[pos_df_counts.pos_tag=='ADJ'][:10]
adj

      token pos_tag  counts
24      few     ADJ       1
23    exact     ADJ       1
35      new     ADJ       1
43     same     ADJ       1
41  regular     ADJ       1
40     past     ADJ       1